.Rproj.user
.Rhistory
.RData
.Ruserdata
Homo_sapiens.GRCh38.95.gtf.gz
Homo_sapiens.GRCh38.dna.chromosome.22.fa.gz
SLX-9168.D701_D501_1K.C6H3UANXX.bam
SRR6481086_pass_1_fastqc.zip
SRR6481086_pass_1_fastqc.html
SLX-11369-PE75-10K.bam
SLX-11369-PE75-10K.NoIndex.HJ75CBBXX.s_2.r_2.fq.gz
SLX-11369-PE75-10K.NoIndex.HJ75CBBXX.s_2.r_1.fq.gz
SLX-9168.D701_D501_1K.C6H3UANXX.s_1.r_1_fastqc.zip
SLX-9168.D701_D501_1K.C6H3UANXX.s_1.r_1_fastqc.html
SRR6481086_pass_2_fastqc.zip
SRR6481086_pass_2_fastqc.html
SRR6481086.bam
SLX-9168.D701_D501_1K.C6H3UANXX.s_1.r_1.fq.gz
RNA-Seq_file_format_praticals_2019.log
SRR6481086_pass_2.fastq.gz
SRR6481086_pass_1.fastq.gz
RNA-Seq_file_format_praticals_2019.Rproj
